*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache

# Backend (back/)
back/.env
back/.env.*
back/vendor/
back/public/storage
back/public/hot
back/public/build
back/storage/*.key
back/storage/pail
back/storage/logs/*
back/storage/framework/cache/*
back/storage/framework/sessions/*
back/storage/framework/views/*
back/bootstrap/cache/*
back/.phpactor.json
back/.phpunit.cache
back/auth.json
back/_ide_helper.php

# Frontend (front/)
front/node_modules/
front/dist/
front/.env
front/.env.*

# IDE
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
Homestead.json
Homestead.yaml
Thumbs.db
